body {
	background-image: url("../img/crossword.png");
	background-repeat: repeat;
}

button {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 0.4px;
}

.casestudy-dim {
	background-color: #333;
	color: white;
}

.casestudy-dim h3 {
	color: #333;
}

.casestudy-dim .case-p {
	color: #333;
}

#case-studies {
	padding-top: 40px;
	padding-bottom: 60px;
}

.testimonals-dim {
	background-color: #333;
	color: white;
}

.testimonals-dim i {
	color: #333;
}

.contact-dim {
	background-color: #333;
	color: white;
	padding-bottom: 30px;
}

.copyright-dim {
	background-color: #333;
	color: white;
}

.card {
	border: 2px solid #EEEEEE;
	border-radius: 16px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 5px 2px #EEEEEE;
}

.card-dim {
	border: 2px solid #333;
	border-radius: 16px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	background-color: #EEE;
	box-shadow: 0px 1px 5px 2px #222;
}

.test-card {
	border: 2px solid #EEEEEE;
	border-radius: 16px;
	padding-top: 15px;
	padding-right: 24px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 5px 2px #EEEEEE;
}

.test-card-dim {
	border: 2px solid #333;
	border-radius: 16px;
	padding-top: 15px;
	padding-right: 24px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	background-color: #EEE;
	box-shadow: 0px 1px 5px 2px #222;
}

.btn-card {
	box-shadow: 0px 0px 8px 1px #223747;
}

#contact {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#copyright {
	padding-top: 40px;
}

nav {
	display: inline-block;
	float: left;
	padding-top: 30px;
	margin-left: -16px;
}

nav a {
	padding: 10px;
	font-size: 18px;
}

.nav-section {
	padding-top: 0px;
	margin-bottom: 20px;
}

.nav-highlight {
	border-bottom: 2px solid #98ACFC;
	display: inline-block;
	line-height: 0.1;
}


.logos {
	margin-top: 30px;
	padding-bottom: 20px;
}

ul li {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.logos > img {
	padding-top: 20px;
	padding-bottom: 20px;
}

p.subpage {
	color: white;
	padding-bottom: 55px;
}

.ul-header {
	font-size: 21px;
	font-weight: 400;
	padding-top: 55px;
	line-height: 1.7;
}

.btn-resume {
	background-color: #3A5C77;
	color: white;
	font-weight: 500;
	height: 50px;
	border-radius: 12px;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 0.8px;
	margin-top: 28px;
	width: 100%;
}

.btn-resume:hover {
	background-color: #3A5C77;
	text-decoration: underline;
	color: white;
	font-weight: 500;
	height: 50px;
	letter-spacing: 0.8px;
}

.btn-launch {
	background-color: rebeccapurple;
	border: 1px solid black;
	color: white;
	font-weight: 500;
	height: 50px;
	border-radius: 12px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 80px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.btn-launch:hover {
	margin-top: 8px;
	background-color: rebeccapurple;
	border: 1px solid black;
	color: white;
	font-weight: 500;
	height: 50px;
	border-radius: 12px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 80px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}


.btn-primary {
	background-color: #FB572E;
	border: 1px solid white;
	font-weight: 500;
}

.btn-insta {
	background-color: #3A5C77;
	border: 2px solid #243949;
	color: white;
	font-weight: 500;
	height: 50px;
	border-radius: 12px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	display: block;
	margin-top: 8px;
	margin-bottom: 20px;
	width: 100%;
}

.btn-insta:hover {
	text-decoration: underline;
	color: white;
}

.btn-proto {
	background-color: #98ACFC;
	color: black;
	border: 1px solid black;
	font-weight: 500;
}

.btn-primary:hover {
	background-color: #DC4B26;
	border: 1px solid white;
}

#hero-section {
	background-color: #243949;
	padding-bottom: 30px;
}

#case-hero-section {
	background-color: white;
	margin-bottom: 50px;
	padding-bottom: 0px;
}

.about-section {
	padding-bottom: 20px;
}

#solutions-section {
	padding-bottom: 30px;
}

#scroll-down {
	height: 40px;
	display: block;
	margin: 0 auto;
	opacity: 0.15;
	margin-top: 30px;
	margin-bottom: 20px;
}

#scroll-down:hover {
	position: relative;
	top: 2px; 
}

.btn {
	font-size: 16px;
	padding-top: 7px;
}

.img-bio {
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 20px;
	height: auto;
	width: 100%;
	max-width: 450px;
}

#logo {
	height: 60px;
	margin-top: -38px;
	padding-right: 10px;
	margin-left: -12px;
}

#logo-name {
	display: inline-block;
	margin-top: 40px;
	font-weight: 500;
	font-size: 21px;
	color: white;
}

#logo-name-case {
	display: inline-block;
	margin-top: 40px;
	font-weight: 500;
	font-size: 21px;
	color: black;
}

.logo-link {
	color: black;
}


p, h1, h2, h3, a {
	font-family: 'Rubik', sans-serif;
}

.case-p {
	font-size: 18px;
}

h1 {
	margin-top: 80px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 500;
	color: white;
}

.h1-case {
	margin-top: 40px;
	font-size: 34px;
	font-weight: 500;
	color: black;
}

.h1-mobile {
		margin-top: 30px;
	}

h2 {
	padding-top: 15px;
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 34px;
	font-weight: 500;
}

h3 {
	font-size: 24px;
	margin-bottom: 8px;
}

.h3-about {
	text-align: center;
	padding: 0;
	padding-bottom: 10px;
	margin: 0 auto;
}

.h3-segments {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 60px;
	margin: 0 auto;
	color: rebeccapurple;
}

.bio-description {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: 400;
}

.bio-description-case {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24px;
	font-weight: 400;
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
}

.project-row {
	padding-top: 20px;
	padding-bottom: 20px;
}

#copyright {
	color: #ccc;
	text-align: center;
	margin-top: -10px;
	font-weight: 400;
	padding-bottom: 10px;
}

#copyright-dim {
	color: #ccc;
	text-align: center;
	margin-top: -10px;
	font-weight: 400;
	padding-bottom: 10px;
	background-color: #333;
}

nav a {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 0.6px;
}

a {
	color: #98ACFC;
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	color: #6D81D2;
	text-decoration: underline;
	font-weight: 700;
}

#bio_sm {
	font-size: 21px;
	font-weight: 400;
	color: #FFF;
	letter-spacing: 0.1px;
	line-height: 1.4;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

#bio_sm-case {
	font-size: 21px;
	font-weight: 400;
	color: #333;
	max-width: 92%;
}

.hr {
	width: 40%;
	margin: 0 auto;
	height: 1px;
	background-color: #ccc;
}

.hr-dim {
	width: 40%;
	margin: 0 auto;
	height: 1px;
	background-color: #ccc;
}

.about_body {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
	max-width: 800px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	margin-top: 20px;
}

.about_lead {
	font-size: 21px;
	font-weight: 400;
	padding-bottom: 30px;
	padding-left: 10px;
	line-height: 1.6;
}

.test-lead {
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 16px;
	padding-left: 24px;
	line-height: 1.7;
}

.a-testimonal {
	display: inline-block;
	font-size: 14px;
	margin-top: 8px;
	}
}

.about_lead_DT {
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 20px;
	line-height: 1.7;
	text-align: center;
}

.about_lead_case {
	font-size: 34px;
}

.ul_case li {
	font-size: 24px;
	padding-bottom: 35px;
	padding-top: 55px;
}

#img-hero-skills {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 420px;
	height: auto;
	padding-top: 40px;
	padding-bottom: 0px;
}

#img-hero-case {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 420px;
	height: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

#img-skills {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: auto;
	padding-top: 0px;
	padding-bottom: 20px;
}

#img-skills-1 {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: auto;
	
	padding-top: 0px;
	padding-bottom: 20px;
}

#img-projects {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: auto;
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 4px;
	margin-bottom: 15px;
	border: 1px solid black;
	border-radius: 12px 12px 16px 16px;
}

#contact-section {
	margin-left: 0;
	margin-right: 0;
	margin-top: -10px;
	padding-bottom: 20px;
}

#linkedin {
	margin-top: -5px;
}

#social a:hover {
	position: relative;
	top: -5px;
}

.img-projects {
	max-width: 100%;
	margin-top: 45px;
}

.img-responsive {
	margin: 0 auto;
	width: 50%;
}

#social {
	padding-top: 60px;
	padding-bottom: 20px;
}

.btn-appstore {
	width: 100px;
	margin-top: 10px;
}

.hero-case {
	padding-left: 15px;
}

.hero-offset {
	display: inline-block;
}

@media only screen (min-width: 0pt) and (max-width: 320pt) {
	#hero-section {
		/* background-image: url("../img/bg-summer.jpeg");
		background-size: cover; */
		background-color: #243949;
		margin-bottom: 24px;
		padding-bottom: 40px;
	}

	#logo-name {
		margin-top: 40px;
	}
	
	#hero-section {
		padding-bottom: 18px;
	}

	nav {
		padding-top: 10px;
		padding-bottom: 10px;
		float: left;
		display: inline-block;
		margin-left: -16px;
	}

	nav a {
		margin-top: 0px;
		display: inline-block;
	}

	h1 {
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 34px;
		font-weight: 500;
		color: white;
	}

	h2 {
		padding-top: 15px;
	}

	li {
		padding-top: 20px;
	}

	ol li {
		padding-top: 2px;
	}

	#contact-section .btn {
		width: 100%;
	}

	.btn-resume {
		background-color: #3A5C77;
		color: black;
		font-weight: 500;
		width: 100%;
		height: 50px;
		margin-top: 15px;
		margin-bottom: 20px;
	}

	.btn-launch {
		background-color: rebeccapurple;
		border: 1px solid black;
		color: white;
		font-weight: 500;
		height: 50px;
		width: 99%;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 0px;
	}

	.btn-launch:hover {
		background-color: rebeccapurple;
		border: 1px solid black;
		color: white;
		font-weight: 500;
		height: 50px;
		width: 99%;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 0px;
	}
	
	#bio_sm {
		max-width: 100%;
	}

	.hero-case {
		padding-left: 15px;
	}

	#img-hero-case {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 420px;
		height: auto;
		padding-top: 20px;
		padding-bottom: 0px;
	}
}

@media only screen (min-width: 320pt) and (max-width: 416pt) {
	#hero-section {
		/* background-image: url("../img/bg-summer.jpeg");
		background-size: cover; */
		background-color: #243949;
		margin-bottom: 24px;
		padding-bottom: 50px;
	}

	nav {
		padding-top: 10px;
		padding-bottom: 10px;
		float: right;
		display: inline-block;
		margin-left: -16px;
		margin-top: 0px;
	}

	.img-logo {
		margin-top: 50px;
	}

	.img-bio {
		padding-top: 0;
		padding-right: 0;
	}

	ul {
		margin-top: -20px;
	}

	ul li {
		padding-top: 20px;
	}

	ol li {
		padding-top: 2px;
	}

	.about_lead_case {
		font-size: 32px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.hero-case {
		padding-left: 15px;
	}

	#img-hero-case {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 420px;
		height: auto;
		padding-top: 20px;
		padding-bottom: 0px;
	}

	h1 {
		margin-top: 80px;
		margin-bottom: 20px;
		font-size: 36px;
		font-weight: 500;
		color: white;
	}

	.h1-mobile {
		margin-top: 30px;
	}
}

@media only screen and (min-width: 416pt) and (max-width: 738pt) {
	nav {
		padding-top: 60px;
		padding-bottom: 10px;
		float: right;
		display: inline-block;
		margin-left: -16px;
	}

	#hero-section {
		background-color: #243949;
		padding-bottom: 60px;
	}

	#hero-section, #about-section, #solutions-section, #work-section, #blog-section, #projects-section {
		padding-left: 20px;
		padding-right: 20px;
	}

	.img-logo {
		margin-top: 20px;
	}
	
	#bio_sm {
		max-width: 90%;
	}

	.hero-case {
		padding-left: 40px;
	}

	h1 {
		margin-top: 80px;
		margin-bottom: 20px;
		font-size: 38px;
		font-weight: 500;
		color: white;
	}

	.h1-case {
		margin-top: 70px;
	}

	#img-hero-case {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 420px;
		height: auto;
		padding-top: 40px;
		padding-bottom: 0px;
	}
}

@media only screen and (min-width: 738pt) and (max-width: 1024pt) {
	nav {
		padding-top: 60px;
		padding-bottom: 10px;
		float: right;
		display: inline-block;
		margin-left: -16px;
	}

	#hero-section {
		background-color: #243949;
		padding-bottom: 80px;
	}

	.hero-case {
		padding-left: 40px;
	}

	h1 {
		margin-top: 80px;
		margin-bottom: 20px;
		font-size: 40px;
		font-weight: 500;
		color: white;
	}

	.h1-case {
		margin-top: 90px;
	}

	#img-hero-case {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 420px;
		height: auto;
		padding-top: 50px;
		padding-bottom: 0px;
	}
}

@media only screen and (min-width: 1024pt) and (max-width: 1367pt) {
	#hero-section {
		background-color: #243949;
		padding-bottom: 100px;
	}

	.hero-case {
		padding-left: 80px;
	}

	.btn {
		font-size: 16px;
		padding-top: 7px;
	}

	h1 {
		margin-top: 80px;
		margin-bottom: 20px;
		font-size: 42px;
		font-weight: 500;
		color: white;
	}

	.h1-case {
		margin-top: 120px;
	}

	.h1-mobile {
		margin-top: 80px;
	}

	h2 {
		padding-top: 40px;
		margin-top: 15px;
		margin-bottom: 20px;
		font-size: 34px;
		font-weight: 500;
	}

	h3 {
		font-size: 24px;
		margin-bottom: 8px;
	}

	.case-p {
		font-size: 18px;
	}

	#bio_sm {
		font-size: 22px;
		font-weight: 400;
		color: #FFF;
		letter-spacing: 0.1px;
		line-height: 1.4;
		margin-bottom: 0px;
	}

	nav {
		padding-top: 60px;
		padding-bottom: 10px;
		float: right;
		display: inline-block;
		margin-left: -16px;
	}

	#img-hero-case {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 420px;
		height: auto;
		padding-top: 60px;
		padding-bottom: 0px;
	}

	.about_lead {
		font-size: 22px;
		font-weight: 400;
		padding-bottom: 30px;
		padding-left: 10px;
		line-height: 1.6;
	}

	.a-testimonal {
		display: inline-block;
		font-size: 14px;
		line-height: 1.0;
	}
}

@media only screen and (min-width: 1367pt) and (max-width: 1920pt) {
	#hero-section {
		background-color: #243949;
		padding-bottom: 120px;
	}

	.bio-description {
		font-size: 21px;
		margin-top: 15px;
	}
	
		#bio_sm {
		max-width: 85%;
	}

	.hero-case {
		padding-left: 150px;
	}

	h1 {
		margin-top: 80px;
		margin-bottom: 20px;
		font-size: 44px;
		font-weight: 500;
		color: white;
	}

	.h1-case {
		margin-top: 120px;
	}

	.h1-mobile {
		margin-top: 100px;
	}

	h3 {
		font-size: 28px;
		margin-bottom: 8px;
	}

	nav {
		padding-top: 60px;
		padding-bottom: 10px;
		float: right;
		display: inline-block;
		margin-left: -16px;
	}

	#img-hero-case {
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 420px;
		height: auto;
		padding-top: 60px;
		padding-bottom: 0px;
	}

	.a-testimonal {
		display: inline-block;
		font-size: 14px;
		line-height: 1.0;
	}
}

